:root {
    --backdrop: #0C1B3A;
    --content: #D3C0CD;
    --leftside: #42546C;
    --rightside: #A2B0C6;
    --leftside-text: #ffffff;
    --rightside-text: #0C1B3A;
    --shadow-color: #020a1a;
    --projectbox: rgb(181, 147, 147);
    --corner-rad: 10px;
}

body {
    background-color: var(--backdrop);
}

.contentbox {
    margin: 10vh 20vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: var(--leftside-text) 2px solid;
    border-radius: 10px;
    box-shadow: var(--shadow-color) 2px 2px 2px;
}

.leftside {
    min-height: 100px;
    background-color: var(--leftside);
    width: 70%;
    padding-top: 0px;
    padding-left: 30px;
    padding-bottom: 20px;
    color: var(--leftside-text);
}

span {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    /* transition: 0.2s; */
    color: inherit;
    transition: 0.2s;
}

a.leftlink:hover {
    color: var(--rightside-text);
}

.rightside {
    min-height: 100px;
    background-color: var(--rightside);
    width: 30%;
    padding-right: 25px;
    color: var(--rightside-text);
}

.nameholder {
    letter-spacing: 1.6px;
    margin-left: 40px;
    margin-top: 50px;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

.contact {
    margin-left: 40px;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
}

.sepp {
    border: 1px solid black;
    margin-right: 8px;
    margin-left: 4px;
}

.projects {
    margin-top: 70px;
    justify-content: right;
    justify-items: right;
    text-align: right;
    margin-right: 10px;
}

.education {
    margin-top: 30px;
    justify-content: right;
    justify-items: right;
    text-align: right;
    margin-right: 10px;
    padding: 10px;
}

.titleholder {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
}

.projects {
    /* background-color: var(--projectbox); */
    padding: 10px;
}

.title {
    letter-spacing: 1.5px;
    margin-top: 15px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.1rem;
    margin-bottom: 3px;
}

.des {
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
    font-size: 0.7rem;
}

.image {
    justify-self: right;
    position: relative;
    right: 30px;
    top: 30px;
    margin-bottom: 44px;
}

img {
    border: 5px solid var(--leftside);
    border-radius: 2px;
}

.profilebox {
    margin-left: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.profiledes {
    margin-top: 15px;
}

.iconbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}

.icons-pack {
    font-size: 50px;
    color: inherit;
    transition: 0.2s;
}

.icons-pack:hover {
    color: var(--leftside);
}

ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 0.8rem;
    line-height: 2;
    font-weight: 700;
}


/* 
.icon-page {
    display: flex;
} */